@font-face {
    font-family: DM Sans;
    src: url(../fonts/DMSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: DM Sans;
    src: url(../fonts/DMSans-Bold.ttf);
    font-weight: 700;
}

.attribution { font-size: 11px; text-align: center; padding: 1rem}
.attribution a { color: hsl(228, 45%, 44%); }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-primary-soft-red: hsl(10, 79%, 65%);
    --color-primary-cyan: hsl(186, 34%, 60%);
    --color-neutral-dark-brown: hsl(25, 47%, 15%);
    --color-neutral-medium-brown: hsl(28, 10%, 53%);
    --color-neutral-cream: hsl(27, 66%, 92%);
    --color-neutral-very-pale-orange: hsl(33, 100%, 98%);

    font-size: 18px;
    font-family: DM Sans, sans-serif;
}

body {
    background-color: var(--color-neutral-cream);
}

.logo {
    height: 2rem;
    width: 3rem;
    background-image: url(../images/logo.svg);
    background-size: cover;
}

.container {
    display: grid;
    padding: 3%;
    grid-auto-columns: minmax(min-content, 30rem);
    grid-template-rows: min-content;
    place-content: center;
    gap: 1rem;
}

.card {
    border-radius: 10px;
    padding: 1.5rem;
}

/* balance */
.balance__card {
    background-color: var(--color-primary-soft-red);
    display: flex;
    align-items: center;
    color: var(--color-neutral-very-pale-orange);
}

/* expenses */
.expenses__card {
    background-color: var(--color-neutral-very-pale-orange);
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: var(--color-neutral-dark-brown);
}

.expenses__chart {
    margin-top: 1rem;
    height: 10rem;
    display: flex;
    align-items: flex-end;
    gap: 3%;
}

.chart__bar {
    width: 100%;
    border-radius: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.chart__bar::before {
    content: attr(data-amount);
    position: absolute;
    background-color: var(--color-neutral-dark-brown);
    color: var(--color-neutral-very-pale-orange);
    padding: .5rem;
    bottom: 105%;
    border-radius: inherit;
    transform: scale(0);
    z-index: 99;
}

.chart__bar::after {
    content: attr(data-day);
    position: absolute;
    color: var(--color-neutral-medium-brown);
    font-size: .9rem;
    top: calc(100% + .5rem);
    border-radius: inherit;
}

.chart__bar:hover::before,
.chart__bar:active::before {
    transform: scale(100%);
}

.chart__bar.bg-cyan:hover {
    background-color: hsl(186, 34%, 70%);
}

.chart__bar.bg-soft-red:hover {
    background-color:hsl(10, 79%, 70%)
}

.expenses__card > hr {
    border: 0;
    height: 1px;
    background-color: var(--color-primary-soft-red);
}

.expenses__summary {
    display: flex;
}

.expenses__summary-difference {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.expenses__summary-difference > h2 {
    order: 2;
}

/*  */

.put-right {
    margin-left: auto;
}


.bg-soft-red {
    background-color: var(--color-primary-soft-red);
}

.bg-cyan {
    background-color: var(--color-primary-cyan);
}

.text-fs-big {
    font-size: 1.6rem;
}

.text-fs-bigger {
    font-size: 1.8rem;
}

.text-fs-regular {
    font-size: 1rem;
}

.text-fw-bold {
    font-weight: 700;
}

.text-fw-regular {
    font-weight: 400;
}